<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The result for accuracy are the following</h1>
    <h2>the accuracy for the logistic regression is</h2>
    <pre>{{ accuracy_LR }}</pre>
    <h2>the accuracy for the random forest classifier is</h2>
    <pre>{{ accuracy_RFC }}</pre> 
    
    <h2>the accuracy for the decision tree classifier is</h2>
    <pre>{{ accuracy_DTC }}</pre>
    <h2>the accuracy for the support vector classifier is</h2>
    <pre>{{ accuracy_SVC }}</pre>

    <h2>After multiple run the best algorithm is the <h1>decision tree classifier</h1></h2>

    
    
</body>
</html>